name: Test Target CSV

on:
  push:
    branches: [main]
    paths:
    - .github/workflows/ci_workflow.yml
    - meltanolabs_target_csv/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  pull_request:
    paths:
    - .github/workflows/ci_workflow.yml
    - meltanolabs_target_csv/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
  workflow_dispatch:

env:
  FORCE_COLOR: 1
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: 1

jobs:
  pytest:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        - "3.15"
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ">=0.9"
    - name: Test with pytest
      run: |
        uv run --group test pytest
